<% layout('layouts/boilerplate')%>
<style>

    .postContainer{
        display: flex;
        flex-direction: row;
        max-width: 860px;
        width:100%;
        height : 570px;
        margin : 18px auto;
    }
    .frame>img{
        height : 508px;
        width : 500px;
    }
    .frame>div{
        height : 61px;
        width: 500px;
        border:1px solid black;
    }
    .frametop{
        display:flex;
        justify-content: space-between;
    }
    .frametop>div>img{
        width:40px;
        height : 40px;
        border-radius : 50%;
        margin:10px;
    }
    .frametop> .edit{
        margin:15px;
    }
    .postRight{
        display:flex;
        flex-direction: column;
        border:1px solid black;
        height : 568px;
        width:350px;
    
    }
    .scroll{
        overflow-y: scroll;
        height: 468px;
        margin:10px 0px 10px 10px;
    }
    .postDesc{
        display:flex;
        flex-direction: row;
        
    }
    .postDesc>img{
        width:40px;
        height : 40px;
        border-radius : 50%;
    
    }
    .postDesc>*{
        margin:10px 10px 0px 10px;
    }
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 5px 0;
        padding: 0;
    }
    .butCom{
        border : 1px solid black;
        display: flex;
        flex-direction: column;
    
    }
    
    .buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .buttons{
        font-size: 27px;
    }   
</style>


    <div class='postContainer'>

        <div class='postLeft'>

            <div class='frame'>

                <div class='frametop'>

                    <div>

                        <img src="data:image/<%=post.owner.image.contentType%>;base64, 
                        <%=post.owner.image.data.toString('base64') %>" alt="Image">


                        <% if((currentUser._id).equals(post.owner._id)){ %> 

                        &nbsp&nbsp <a href='/me/profile'><span style='font-weight: bold;'><%=post.owner.username%></span></a>

                        <% } else { %>
                            
                        &nbsp&nbsp <a href='/otherprofile/<%=post.owner._id%>/show'><span style='font-weight: bold;'><%=post.owner.username%></span></a>    

                        <% } %> 

                        



                   
                    </div>

                    <div class='edit'>

                        
                        <% if(post.postlocation){ %> 

                            <span style='font-weight: bold;'><i class="fas fa-map-marker-alt"></i> <%=post.postlocation %> </span>

                        <% } %> 

                        <% if((currentUser._id).equals(post.owner._id)) { %>

                            &nbsp&nbsp <a href='/edit/post/<%=post._id%>'>Edit Post</a>

                        <% } %> 

                        

                    </div>
                </div>

                <img src="data:image/<%=post.image.contentType%>;base64, 
                <%=post.image.data.toString('base64') %>" alt="Image">

            </div>


        </div>

        <div class='postRight'>

            <div class='scroll'>

            <div class='postDesc'>

                <img src="data:image/<%=post.owner.image.contentType%>;base64, 
                <%=post.owner.image.data.toString('base64') %>" alt="Image">

                <div class='desc'>

                    <p>

                        <% if((currentUser._id).equals(post.owner._id)){ %> 

                            &nbsp&nbsp <a href='/me/profile'><span style='font-weight: bold;'><%=post.owner.username%></span></a>
    
                            <% } else { %>
                                
                            &nbsp&nbsp <a href='/otherprofile/<%=post.owner._id%>/show'><span style='font-weight: bold;'><%=post.owner.username%></span></a>    
    
                        <% } %> 
                        
                        
                        &nbsp&nbsp<%=post.description%>
                
                    </p>

                </div>

            </div>

            <hr/>

            <div class='allComments'>


                <% for(comment of post.comments){ %>
        

                    <div class='postDesc'>

                        <img src="data:image/<%=comment.owner.image.contentType%>;base64, 
                        <%=comment.owner.image.data.toString('base64') %>" alt="Image">
        
                        <div class='desc'>
        
                            <span>

                                <% if((currentUser._id).equals(comment.owner._id)){ %> 

                                    &nbsp&nbsp <a href='/me/profile'><span style='font-weight: bold;'><%=comment.owner.username%></span></a>
            
                                    <% } else { %>
                                        
                                    &nbsp&nbsp <a href='/otherprofile/<%=comment.owner._id%>/show'><span style='font-weight: bold;'><%=comment.owner.username%></span></a>    
            
                                <% } %> 
                                
                                
                                &nbsp&nbsp <%=comment.message%> 
                        
                            </span>
            
                        </div>
        
                    </div>
            
                    
                <% } %> 



            </div>

            </div>



            <div class='butCom'>

                <div class='buttons' >

                    <div>

                        <%if(!((post.likes).includes(currentUser._id))){ %> 

                            <a style='color:black;'  href='/likeshow/<%=post._id%>'><i style='margin:8px' class="far fa-heart"></i></a>
                        
                            <% } else { %> 
                        
                            <a  href='/unlikeshow/<%=post._id%>' style='color : red;'><i  style='margin:8px' class="fas fa-heart"></i></a>
                        
                        <% } %> 


                        <span style='font-size: 15px;'><%=post.likes.length%> Likes</span>

                    </div>

                    <div>

                        <% if((currentUser.bookmarks).includes(post._id)){ %>
        
                            <a style='color:blue;' href='/removebookmarkshow/<%=post._id%>' ><i style='margin:8px' class="fas fa-bookmark"></i></a>
                    
                        <% } else { %> 
                    
                            <a style='color:black' href='/addbookmarkshow/<%=post._id%>' ><i style='margin:8px' class="far fa-bookmark"></i></a> 
                    
                        <% } %> 

                        <a style='color:black' href='/sharepost/<%=post._id%>'><i style='margin:8px' class="far fa-paper-plane"></i></a>

                    </div>

                </div>

                <div class='addComments'>
                    <form action='/commentadd/<%=post._id%>' method='POST'>

                        <input type='type' placeholder="Add Comment" id='myTextarea' name='message' required>

                        <button class="btn btn-primary" type='submit' style='width:347px'>Comment</button>

                    </form>
                </div>



            </div>


        </div>

    </div>



    <script>


        $(document).ready(function(){
            $("#myTextarea").emojioneArea();
        })

        // window.onload = function() {

        //     document.querySelector('.scroll').scrollTo(0,document.querySelector('.scroll').scrollHeight);

        // };
       




    </script>



