<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <p><%=post.owner.username%> </p>
    <img src="data:image/<%=post.owner.image.contentType%>;base64, 
    <%=post.owner.image.data.toString('base64') %>" width="200" height="200" alt="Image">


    <p>Post : </p>
    <img src="data:image/<%=post.image.contentType%>;base64, 
    <%=post.image.data.toString('base64') %>" width="200" height="200" alt="Image">

    <p><%=post.description%></p>

    <p>Location : <%=post.postlocation%></p>

    <% if((currentUser._id).equals(post.owner._id)) { %>

        <a href='/edit/post/<%=post._id%>'>Edit Post</a>

    <% } %> 

</body>
</html>