<% layout('layouts/boilerplate')%>
    




<style>

    #profile{
        border-radius: 50%;
    }
    
    .wholeContainer{
        max-width: 930px;
        width: 100%;
        margin:20px auto;
    }
    .profileContainer{
        display: flex;
        flex-direction: row;
        margin:20px;
    }
    .photo{
        margin:20px;
    }
    .info{
        margin:25px;
        padding-left:60px;
    }
    .nameEdit{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 4px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 5px;
      transition-duration: 0.4s;
      cursor: pointer;
      border-radius: 8px;
    }
    .button4 {
      background-color: white;
      color: black;
      border: 2px solid #e7e7e7;
    }
    
    .button4:hover {background-color: #e7e7e7;}
    
    .button>a{
        text-decoration: none;
        color:rgb(54, 53, 53);
    }
    
    .followInfo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    .followInfo>*{
        margin-right:40px;
        color:black;
    }
    .followInfo>a:hover{
        color:black;
        text-decoration: none;
    }
    
</style>
    
    
    
    
    
    <div class='wholeContainer'>
    
    
        <div class='profileContainer'>
    
    
        <div class='photo'>
        
            <img src="data:image/<%=otherUser.image.contentType%>;base64, 
            <%= otherUser.image.data.toString('base64') %>" width="150" height="150" id='profile' alt="Image">
    
        </div>
    
        <div class='info'>
    
    
        <div class='nameEdit'>
    
            <h2><%=otherUser.username%></h2>

            <% if(otherUser.status=='public'){ %>
        
                <button  class="button button4"><a href='/followpublic/<%=otherUser._id%>'>Follow</a></button>
                
            <% } else { %> 
            
                <button  class="button button4"><a href='/requestfrom/<%=currentUser._id%>/requestto/<%=otherUser._id%>'>Follow</a></button>
            
            <% } %> 
    
        </div>
    
        <div class='followInfo'>
    
            <span><span style='font-weight: bold;'><%=otherUser.posts.length%></span>&nbsp posts </span>
        
            <span href='/allfollowers/show'><span style='font-weight: bold;'><%=otherUser.followers.length%></span>&nbsp followers</span>
            
            <span href='/myfollowing/show'><span style='font-weight: bold;'><%=otherUser.following.length%></span>&nbsp following</span>
    
        </div>
      
        <p style='font-weight: bold;'><%=otherUser.realname%></p>    
    
        <p><%=otherUser.bio%></p>
       
    </div>
       
    </div>     
    <hr>



<% if(otherUser.posts.length!=0){ %> 

    <h2>Posts</h2>

    <% for(post of otherUser.posts){ %>    

        <a href='/post/show/<%=post._id%>'>
        <img src="data:image/<%=post.image.contentType%>;base64, 
        <%=post.image.data.toString('base64') %>" width="200" height="200" alt="Image">
        </a>
        


    <% } %> 

<% } %> 
    

