<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <p><%=otherUser.username%> </p>

    <img src="data:image/<%=otherUser.image.contentType%>;base64, 
    <%=otherUser.image.data.toString('base64') %>" width="200" height="200" style='border-radius: 50%;' alt="Image">

    
    <% if(otherUser.status=='public'){ %>
        
        <a href='/followpublic/<%=otherUser._id%>'>Follow</a>
        
    <% } else { %> 

        <a href='/requestfrom/<%=currentUser._id%>/requestto/<%=otherUser._id%>'>Follow</a>

    <% } %> 
 
    
    
    <p><%=otherUser.posts.length%> Posts </p>
    
    <p><%=otherUser.following.length%> Following</p>
    
    <p><%=otherUser.followers.length%> Followers</p>
    
    <p><%=otherUser.mutual.length%> Mutuals</p>
    
    <p>Bio : <%otherUser.bio%> </p>
    
    <p>status : <%=otherUser.status%> </p>

























</body>
</html>