<% layout('layouts/boilerplate')%>

<style>

#profile{
    border-radius: 50%;
}

</style>





<body>
    

    <img src="data:image/<%=currentUser.image.contentType%>;base64, 
    <%= currentUser.image.data.toString('base64') %>" width="200" height="200" id='profile' alt="Image">


    <br><br>

    <h2><%=currentUser.username%></h2>

    <a href='/profile/edit' >Edit Profile</a>

    <br><br>

    <%=currentUser.posts.length%>&nbsp posts
    
    <br><br>

    <a href='/allfollowers/show'><%=currentUser.followers.length%>&nbsp followers</a> 
    
    <br><br>


    <a href='/myfollowing/show'><%=currentUser.following.length%>&nbsp following</a>
    
    <br><br>

    <%=currentUser.mutual.length%> &nbsp mutuals

    <br><br>

    <%=currentUser.realname%>
    
    <br><br>

    Email : <%=currentUser.email%> 

    <br><br>

    Bio : <%=currentUser.bio%> 

    <br><br>

    <p>status : <%=currentUser.status%> </p>

    <p><a href='/post/createnew'> Add Post </a></p>

    
    <a href='/home'>Back to home Page</a>

    <br><hr><br><br>

    <% if(currentUser.posts.length!=0){ %> 

        <h2>Posts</h2>
    
        <% for(post of currentUser.posts){ %>    
    
            <a href='/post/show/<%=post._id%>'>
            <img src="data:image/<%=post.image.contentType%>;base64, 
            <%=post.image.data.toString('base64') %>" width="200" height="200" alt="Image">
            </a>
            
            <hr><br><br>
    
        <% } %> 
    
    <% } %> 

    <% if(currentUser.bookmarks.length!=0){ %>
        
        <p>Bookmarks</p>

        <% for(bookmark of currentUser.bookmarks){ %>    
    
            <a href='/post/show/<%=bookmark._id%>'>
            <img src="data:image/<%=bookmark.image.contentType%>;base64, 
            <%=bookmark.image.data.toString('base64') %>" width="200" height="200" alt="Image">
            </a>
            
            <hr><br><br>
    
        <% } %> 
        
    <% } %> 
