<% layout('layouts/boilerplate')%>

<style>

#profile{
    border-radius: 50%;
}

.wholeContainer{
    max-width: 930px;
    width: 100%;
    margin:20px auto;
}
.profileContainer{
    display: flex;
    flex-direction: row;
    margin:20px;
}
.photo{
    margin:20px;
}
.info{
    margin:25px;
    padding-left:60px;
}
.nameEdit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 5px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}
.button4 {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.button4:hover {background-color: #e7e7e7;}

.button>a{
    text-decoration: none;
    color:rgb(54, 53, 53);
}

.followInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}
.followInfo>*{
    margin-right:40px;
    color:black;
}
.followInfo>a:hover{
    color:black;
    text-decoration: none;
}

</style>





<div class='wholeContainer'>


    <div class='profileContainer'>


    <div class='photo'>
    
        <img src="data:image/<%=currentUser.image.contentType%>;base64, 
        <%= currentUser.image.data.toString('base64') %>" width="150" height="150" id='profile' alt="Image">

    </div>

    <div class='info'>


    <div class='nameEdit'>

        <h2><%=currentUser.username%></h2>

        <button class="button button4"><a href='/profile/edit' >Edit Profile</a></button>

    </div>

    <div class='followInfo'>

        <span><span style='font-weight: bold;'><%=currentUser.posts.length%></span>&nbsp posts </span>
    
        <a href='/allfollowers/show'><span style='font-weight: bold;'><%=currentUser.followers.length%></span>&nbsp followers</a>
        
        <a href='/myfollowing/show'><span style='font-weight: bold;'><%=currentUser.following.length%></span>&nbsp following</a>

    </div>


    


    <p style='font-weight: bold;'><%=currentUser.realname%></p>


    <p><%=currentUser.bio%></p>


    </div>


    </div>

    <hr>

    <p><a href='/post/createnew'> Add Post </a></p>



    <% if(currentUser.posts.length!=0){ %> 

        <h2>Posts</h2>
    
        <% for(post of currentUser.posts){ %>    
    
            <a href='/post/show/<%=post._id%>'>
            <img src="data:image/<%=post.image.contentType%>;base64, 
            <%=post.image.data.toString('base64') %>" width="200" height="200" alt="Image">
            </a>
            
            <hr><br><br>
    
        <% } %> 
    
    <% } %> 

    <% if(currentUser.bookmarks.length!=0){ %>
        
        <p>Bookmarks</p>

        <% for(bookmark of currentUser.bookmarks){ %>    
    
            <a href='/post/show/<%=bookmark._id%>'>
            <img src="data:image/<%=bookmark.image.contentType%>;base64, 
            <%=bookmark.image.data.toString('base64') %>" width="200" height="200" alt="Image">
            </a>
            
            <hr><br><br>
    
        <% } %> 
        
    <% } %> 

</div>
