<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    
    <% let username = currentUser.username %> 

    <% let id = currentUser._id %> 


    <h2>InstaChat</h2> --- <a href='/messages/show'>Message</a>

    <br><br><br>

    <p>Specific Posts</p>

    <% let i=0 %> 
    <% for(post of specificPosts){ %>
        <% i++ %> 

        <div id='post<%=i%>'>
            
        <a href='/post/show/<%=post._id%>'>
            <img   src="data:image/<%=post.image.contentType%>;base64, 
            <%=post.image.data.toString('base64') %>" width="200" height="200" alt="Image">
        </a>

        <br><br>

        
        <a href='/sharepost/<%=post._id%>'>Share Post</a>

        <br><br>

        <% if((currentUser.bookmarks).includes(post._id)){ %>
        
            <a href='/removebookmarkhome/<%=post._id%>/<%=i%>' style='font-size: larger;'><i class="fas fa-bookmark"></i></a>
    
        <% } else { %> 
    
            <a href='/addbookmarkhome/<%=post._id%>/<%=i%>' style='font-size: larger;'><i class="far fa-bookmark"></i></a> 
    
        <% } %> 
    
        <br><br>

        <%if(!((post.likes).includes(currentUser._id))){ %> 

        <a  href='/likehome/<%=post._id%>/<%=i%>' style='font-size: larger;'><i class="far fa-heart"></i></a>

        <% } else{ %>
                    
        <a  href='/unlikehome/<%=post._id%>/<%=i%>' style='font-size: larger; color : red; transition:0.2s'><i class="fas fa-heart"></i></a>
    
        <% } %> 

        <br><br>

        <%=post.likes.length%> Likes 

        <br><br><hr><br>

        </div>
    
    <% } %> 

    <p>Suggested Posts</p>


    <% let j=0 %> 
    <% for(post of suggestedPosts){ %>
        
        <% j++ %> 

        <div id='post<%=j%>'>

        <a href='/post/show/<%=post._id%>'>
            <img src="data:image/<%=post.image.contentType%>;base64, 
            <%=post.image.data.toString('base64') %>" width="200" height="200" alt="Image">
        </a>
        
        <br><br>

        <a href='/sharepost/<%=post._id%>'>Share Post</a>

        <br><br>

        <% if((currentUser.bookmarks).includes(post._id)){ %>
        
            <a href='/removebookmarkhome/<%=post._id%>/<%=j%>' style='font-size: larger;'><i class="fas fa-bookmark"></i></a>
    
        <% } else { %> 
    
            <a href='/addbookmarkhome/<%=post._id%>/<%=j%>' style='font-size: larger;'><i class="far fa-bookmark"></i></a> 
    
        <% } %> 

        <br><br>

        <%if(!((post.likes).includes(currentUser._id))){ %> 

        <a  href='/likehome/<%=post._id%>/<%=j%>' style='font-size: larger;'><i class="far fa-heart"></i></a>

        <% } else{ %>
                    
        <a  href='/unlikehome/<%=post._id%>/<%=j%>' style='font-size: larger; color : red; transition:0.2s'><i class="fas fa-heart"></i></a>
    
        <% } %> 

        <br><br>

        <%=post.likes.length%> Likes 

        <br><hr><br>

    </div>
    
    <% } %> 



    <p>Suggested for you : </p>

    <% if(users.length!=0){ %> 

    <ul>

    <% for(user of users){ %>

        <% if(user.status !== 'public') { %> 

            <% if((user._id).equals(currentUser._id)==false){ %> 
        
                <% if((currentUser.following.includes(user._id)==false) && (currentUser.requestSent.includes(user._id)==false)) { %>
            
                    <li><%=user.username%> - <a href='/requestfrom/<%=currentUser._id%>/requestto/<%=user._id%>'>Follow</a> </li>

                <%} else if((currentUser.following.includes(user._id)==false) && (currentUser.requestSent.includes(user._id)==true)){ %>
            
                    <li><%=user.username%> - requestSent <a href='/requestcancelfrom/<%=currentUser._id%>/requestto/<%=user._id%>'>Cancel</a></li>

                <% } %>
            <% } %> 

            
        <% } else { %>

            <% if((user._id).equals(currentUser._id)==false){ %> 
        
                <% if((currentUser.following.includes(user._id)==false)) { %> 

                    <li><%=user.username%> - <a href='/followpublic/<%=user._id%>'>Follow</a> </li>

                <% } %> 

            <% } %> 
            
            
        <% } %> 
        
    <% } %> 

    </ul>

    <% } else { %> 

        <p>No users found!</p>

    <% } %> 




<a href='/me/notifications'>Notifications</a>

<br><br>

<a href='/me/profile'>Profile</a>

<br><br>

<a href='/logout'>Logout</a>

<br><br>


<script>


    let username = '<%-username%>';
    let id = '<%-id%>';

    localStorage.setItem('username',`${username}`);
    localStorage.setItem('id',`${id}`);


</script>


</body>
</html>