<% layout('layouts/boilerplate')%> 
    
<h4>Share with</h4>

<p>Chats</p>

<ul>

<% for(channel of currentUser.channels){ %>
    
    <% if(currentUser.username === channel.user1){ %>
            
        <li> <a href='/sharepost/<%=post.id%>/<%=channel._id%>'><%=channel.user2%></a> </li>
        
    <% } else { %>
        
        <li> <a href='/sharepost/<%=post.id%>/<%=channel._id%>'><%=channel.user1%></a> </li>
        
    <% } %>     

<% } %> 

</ul>


<p>Groups</p>

<ul>

    <% for(group of currentUser.groups){ %>
    
        <li> <a href='/sharepostgroup/<%=post.id%>/<%=group._id%>'><%=group.name%></a> </li>
    
    <% } %> 

</ul>
