<% layout('layouts/boilerplate')%>


<p><%=story.owner.username%> </p>

<% if(story.storyType=='image'){ %>
    
    <img src="data:image/<%=story.image.contentType%>;base64, 
    <%=story.image.data.toString('base64') %>" width="200" height="200" alt="Image">
   
<% } else { %>
    
    <p><%=story.text%></p>
    
<% } %> 


<p><%=story.description%> </p>

<% if(story.owner.username == currentUser.username){  %>
    
    <a href='/deletestory/<%=story._id%>'>Delete Story</a>

<% } %> 